.parentDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid  gray;
    padding:10px;
    background-color: #86D9EF;
    border-radius: 3px;
}

.inputDiv{
    display: flex;
    /* justify-content: center; */  
    border: 1px solid black;
    align-items: center;
    padding: 0.3rem;
    font-weight: 400;
    border-radius: 0.2rem;
    background-color: white;
}
.inputDiv ::placeholder{
    color: black;
}

.inputDiv input{
    border: none;
    outline: none;
    padding: 4px;
}

.parentDiv button{
    color: black;
    border: 1px solid black;
    background-color: white;
    height: 2rem;
}

.parentDiv button:hover{
    color: white;
    background-color: black;
}

@media (max-width: 768px) {
    .parentDiv {
      flex-direction: column;
      align-items: flex-start;
      padding: 5px;
     
    }
  
    .parentDiv > div:first-child {
      margin-bottom: 10px;
    }
  
    .parentDiv button {
      padding: 5px 10px;
      font-size: 0.9rem;
    }
  }
  
  /* Media query for small mobile devices */
  @media (max-width: 480px) {
    .parentDiv {
      padding: 5px;
      width: 95%;
      margin: auto;
      /* margin-left: 3px; */
    }
  
    .parentDiv button {
      padding: 4px 8px;
      font-size: 0.8rem;
    }
  }